<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pairbnb.com, <%= @user.first_name %></h1>
    <img src="<%= @user.photos.first %>" />
    <p>
      You have successfully signed up to Pairbnb.com,
      your username is: <%= @user.last_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://cryptic-ravine-11898.herokuapp.com/">Pairbnb</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>