#listing_profile{
	display:flex;
	justify-content: space-between;
}

#listingImage img{
	width: 100%;
	height: 320px;
}

#listing_profile_left{
	min-height: 500px;
	width: 700px;
}

#listing_profile_right{
	border: 1px solid gray;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 450px;
	min-width: 300px;
}

.fixed_profile_right{
	align-self: center;
}

.listing_profile_right_picture{
	width: 283px;
	height: 300px; 
}

.button{
	background-color: red;
	color:white;
	border:2px;
	border-color: red;
	width:274px;
	padding: 12px 24px;
	border-radius: 5px;
}

#listing_userprofile{
	display: flex;
	justify-content: space-between;
}

#listing_userprofile img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#footerSocialLink{
	display: flex;
	justify-content: space-around;

}

.create_listing_form{
	display: flex;
	justify-content: center;
}

.formImg{
	background: url(formbackgroundimage.jpeg);
	background-size: 1190px 1310.6px;
	min-height: 1310.6px;
	min-width: 1190px;
}