</br>

<div id="footer">
	<div id="footerdiv">
		<ul class="footerdivlist">
			<li>About us</li>
			<li>Career</li>
			<li>Press</li>
			<li>Policies</li>
			<li>Help</li>
			<li>Diversity and Belonging</li>
		</ul>
	</div>
	<div>
		<ul class="footerdivlist">
			<li>Trust & Safety</li>
			<li>Travel Credit</li>
			<li>Gift Cards</li>
			<li>Pairbnb Citizen</li>
			<li>Business Travel</li>
			<li>Guidebooks</li>
			<li>Pairbnbmag</li>
		</ul>
	</div>
	<div>
		<ul class="footerdivlist">
			<li>About us</li>
			<li>Career</li>
			<li>Press</li>
			<li>Policies</li>
			<li>Help</li>
			<li>Diversity and Belonging</li>
		</ul>
	</div>
</div>

<div class="container">
	<div id="footerSocialLink" >
		<div>
			<h5>Pairbnb. Inc</h5>
		</div>
		<div>
			<h5>Terms Privacy Site Map</h5>
		</div>
	</div>
</div>